/AIRecommendationBean.class
/BaseBean.class
/BranchBean.class
/BugTrackerBean.class
/CollegeBean.class
/ComplaintBean.class
/CourseBean.class
/DoctorBean.class
/DroneDeliveryBean.class
/DropdownListBean.class
/EmployeeBean.class
/EnergyConsumptionBean.class
/ExamBean.class
/FacultyBean.class
/FeeBean.class
/FlightBookingBean.class
/HotelBean.class
/MarksheetBean.class
/ORSResponse.class
/OrderBean.class
/ProductBean.class
/QRScannerBean.class
/RoleBean.class
/SmartLightBean.class
/StudentBean.class
/SubjectBean.class
/SubscriptionBean.class
/UserBean.class
/VoiceCommandBean.class
/WaterMonitoringBean.class
/WeatherAlertBean.class
