/AIRecommendationModel.class
/BaseModel.class
/BranchModel.class
/BugTrackerModel.class
/CollegeModel.class
/ComplaintModel.class
/CourseModel.class
/DoctorModel.class
/DroneDeliveryModel.class
/EmployeeModel.class
/EnergyConsumptionModel.class
/ExamModel.class
/FacultyModel.class
/FeeModel.class
/FlightBookingModel.class
/HotelModel.class
/MarksheetModel.class
/OrderModel.class
/ProductModel.class
/QRScannerModel.class
/RoleModel.class
/SmartLightModel.class
/StudentModel.class
/SubjectModel.class
/SubscriptionModel.class
/UserModel.class
/VoiceCommandModel.class
/WaterMonitoringModel.class
/WeatherAlertModel.class
